*{
    margin:0px;
    padding: 0px;
    box-sizing: border-box;
}

header{
    margin: 0rem 15rem;
}

li{
    list-style-type: none;
    display: flex;
    margin-bottom: 1rem;
}

.mainBody{
    display: flex;
    justify-content: space-around;
    margin: 4rem 5rem;
}

.r_scores{
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.rh_scores{
    display: flex;
    width: 20rem;
}

.recents{
    margin-right:1rem;
}

.formact{
    display: flex;
    flex-direction: column;
}

input[type="text"]{
    width: 20rem;
    margin: 0.5rem 0rem;
}

.btn_submit{
    width: 6rem;
    margin-left: 14rem;
    margin-top: 0.5rem;
}

span{
    margin:0rem 0.5rem;
}